@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: local("courier.ttf")
}

@font-face {
    font-family: "Rokkit-Thin";
    src: local("thin.ttf")
}


.cntr {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}    

.thin {
    font-family: "Rokkit-Thin";
    text-align: center
}